<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <authorization>
      <allow users="?"/>
    </authorization>
    <httpRuntime executionTimeout="300" maxRequestLength="1048576" targetFramework="4.5.1" requestValidationMode="2.0" requestPathInvalidCharacters=""/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <caching enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".json"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <remove fileExtension=".mvp"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".mvp" mimeType="text/plain"/>
    </staticContent>
    <handlers>
      <remove name="Time"/>
      <add name="U2ServiceHandler" path="/Service/*" verb="*" type="MVService.Handler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="DBHost" value="10.10.10.10"/>
    <add key="DBAccount" value="DEVELOPMENT"/>
    <add key="DBUser" value="devweb"/>
    <add key="DBPassword" value="devweb"/>
    <add key="AuthenticatedDbUrlPath" value="/Service"/>
  </appSettings>
</configuration>